@font-face {
  font-family: Heebo;
  src: url('assets/font/Heebo-VariableFont_wght.ttf');
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* header start */
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 10px;
}
.header {
  background-color: #464959;
}

.header__inner {
  display: flex;
  padding-right: 5px;
  background-color: #010820;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px -10px 10px 0px rgb(255, 204, 0);
}
.menu__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}
.menu__item-link {
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(139, 134, 0);
  transition: 0.5s;
}

.menu__item-link:hover {
  text-shadow: rgb(242, 245, 246) 1px 0 10px;
}

.menu__item-link:focus {
  color: rgb(255, 204, 0);
}

.aboutme {
  display: flex;
  justify-content: space-around;
  height: 250px;
  border-bottom: solid 5px #010820;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 15px 10px 0 rgb(255, 204, 0);
}

.foto {
  padding: 20px 0 10px 0;
  width: 250px;
  height: 250px;
  border-radius: 20% / 50%;
}
.aboutme__text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  padding-right: 250px;
}

.name {
  font-size: 30px;
  color: #000000;
}

.job {
  font-size: 20px;
  color: rgb(139, 134, 0);
}
/* header finish */
/* main start  */
.main {
  background-color: #464959;
  flex-grow: 1;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  width: 50%;
}
.section__title {
  position: relative;
  padding-left: 30px;
  color: rgb(139, 134, 0);
}

.section__title::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  width: 15px;
  height: 15px;
  border: 1px solid #010820;
  border-radius: 20%;
  background-color: rgb(139, 134, 0);
}

.contact__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.list__item {
  margin-left: 10px;
}

#location {
  background: url('assets/img/location.png');
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
#mail {
  background: url('assets/img/mail.png');
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
#telegram {
  background: url('assets/img/telegram.png');
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
#linkedin {
  background: url('assets/img/linkedin.png');
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
#discord {
  background: url('assets/img/discord.png');
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
/* main finish */
/* footer start  */
.footer {
  background-color: #464959;
}

.wrapper__footer {
  display: flex;
  justify-content: space-between;
  background-color: #464959;
}

.copyRight {
  display: flex;
  align-items: center;
  color: #a6a3a3;
  padding-left: 5px;
}

.logo {
  padding-right: 5px;
  width: 100px;
  height: 50px;
}
